$background-main: #1565C0;
$background-dark: #0D47A1;
$background-light: #1E88E5;

$text-light: #fff;
$text-dark: #000;

$table-border: rgba(204, 204, 204, 0.45);
$table-content-bg: #f9f9f9;
$table-icons-bg: #ccc;

$placeholder-color: #8e8e8e;